@use "../../../../scss/variable";

.slideHome {
  display: grid;
  gap: 12px;
  width: fit-content;



  &-icon {
   img{
     width: 60px;
     height: 40px;
   }
  }

  &-title {
    font-size: 1.4vw;
    font-weight: 500;

    @media (max-width: 1366px) {
      font-size: 20px;
    }

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }

  &-button {
    font-size: 15px;
    line-height: 1.0390625vw;
    padding: 16px 16px;
    border-radius: .3828125vw;
    border: 2px solid variable.$base-color;
    width: fit-content;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;

    &:hover{
      background: variable.$base-color;
      color: white;
      transition: .3s ease;
    }

    @media (max-width: 480px) {
      font-size: 14px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  &-note{
    font-size: 13px;
    color: variable.$base-note;
  }
}