@font-face {
    font-family: 'MontserratAlternates';
    src: url('./MontserratAlternates-Medium.eot');
    src: url('./MontserratAlternates-Medium.eot?#iefix') format('embedded-opentype'),
        url('./MontserratAlternates-Medium.woff2') format('woff2'),
        url('./MontserratAlternates-Medium.woff') format('woff'),
        url('./MontserratAlternates-Medium.svg#MontserratAlternates-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url('./MontserratAlternates-Regular.eot');
    src: url('./MontserratAlternates-Regular.eot?#iefix') format('embedded-opentype'),
        url('./MontserratAlternates-Regular.woff2') format('woff2'),
        url('./MontserratAlternates-Regular.woff') format('woff'),
        url('./MontserratAlternates-Regular.svg#MontserratAlternates-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url('./MontserratAlternates-Light.eot');
    src: url('./MontserratAlternates-Light.eot?#iefix') format('embedded-opentype'),
        url('./MontserratAlternates-Light.woff2') format('woff2'),
        url('./MontserratAlternates-Light.woff') format('woff'),
        url('./MontserratAlternates-Light.svg#MontserratAlternates-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url('./MontserratAlternates-Bold.eot');
    src: url('./MontserratAlternates-Bold.eot?#iefix') format('embedded-opentype'),
        url('./MontserratAlternates-Bold.woff2') format('woff2'),
        url('./MontserratAlternates-Bold.woff') format('woff'),
        url('./MontserratAlternates-Bold.svg#MontserratAlternates-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

