.subtitle{
  color: #3c4f99;
  font-size: 41px;
  font-weight: 600;
  margin-bottom: 50px;

  @media (max-width: 1024px) {
    font-size: 28px;
  }

  @media (max-width: 660px) {
    font-size: 20px;
    margin-bottom: 24px;
  }

  @media (max-width: 440px) {
    font-size: 6vw;

  }
}