@use '../../../../scss/variable';

.arrow{
  border: 2px solid variable.$base-color;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: grid;
  align-content: center;
  justify-items: center;

  @media (max-width: 640px) {
    display: none;
  }

  &:hover{
    cursor: pointer;
  }

  img {
    width: 8px;
  }
}